$ttamanho: 25px;
$tfontfamily: auto;
$tjustificado: justify;
$tpadding: 20px;
$titulot: 35px;
$negritati: bold;
$bgtexto: #9ee0e0;
$bordetexto: 5px solid #65d6a6;
$height100: 100%;
$width100: 100%;





.textoDescriptivo {
	font-size:$ttamanho;
	font-family:$tfontfamily;
	text-align:$tjustificado;
	padding-right:$tpadding;
	padding-left:$tpadding;
	background-color:$bgtexto;
	border:$bordetexto;
}

.tituloEducate {
	padding-left:$tpadding;
	font-size:$titulot;
	font-weight:$negritati;
}

.card {
	height:$height100;
	width:$width100;
}